@import "variables";

@import "bootstrap/scss/bootstrap"; // Required
@import "sections";
@import "others";


body {
  font-family: 'whyte_inktrap';
}

.amila {
  min-height: 100vh;
  background-image: url('../../assets/img/bg.svg');
  background-repeat: no-repeat;
}
